.parentBanner{
    width: 714px;
}
.banner{
    background-image: url("../../../public/images/dashboard_banner.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    

}