@font-face {
  font-family: "Gilroy_Regular";
  src: local("Gilroy_Regular"), url(./fonts/Gilroy-Regular.ttf) format("woff");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: "Gilroy_Bold";
  src: local("Gilroy_Bold"), url(./fonts/Gilroy-Bold.ttf) format("woff");
}
@font-face {
  font-family: "Gilroy_Medium";
  src: local("Gilroy_Medium"), url(./fonts/Gilroy-Medium.ttf) format("woff");
}
@font-face {
  font-family: "Gilroy_Light";
  src: local("Gilroy_Light"), url(./fonts/Gilroy-Light.ttf) format("woff");
}
@font-face {
  font-family: "Gilroy_Heavy";
  src: local("Gilroy_Heavy"), url(./fonts/Gilroy-Heavy.ttf) format("woff");
}

.font_regular {
  font-family: Gilroy_Regular;
}

.font_bold {
  font-family: Gilroy_Bold;
}

.font_medium {
  font-family: Gilroy_Medium;
}

.font_light {
  font-family: Gilroy_Light;
}
.font_heavy {
  font-family: Gilroy_Heavy;
}

.bg_primary {
  background-color: #06c16b;
}

.text_primary {
  color: #06c16b;
}

.text_red {
  color: #e21d24;
}

.hr_line {
  width: auto;
  opacity: 0.9;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.footer_hr_line {
  width: auto;
  opacity: 0.9;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.step_card {
  width: 342px;
  height: 506px;
}

@media (min-width: 1869px) and (max-width: 2050px) {
  .testimonial_card {
    width: 545px;
  }
  .hr_line {
    width: 625.18px;
  }
  .h_601 {
    height: 601px;
  }
}

@media (min-width: 2056px) {
  .testimonial_card {
    width: 575px;
  }
  .hr_line {
    width: 625.18px;
  }
  .h_601 {
    height: 601px;
  }
}

@media (min-width: 1280px) and (max-width: 1860px) {
  .h_601 {
    height: 601px;
  }
  .testimonial_card {
    width: 405px;
    height: 407px;
  }
}

.h_484 {
  height: 484px;
}

#DROPP {
  position: relative;
  animation: linear infinite;
  animation-name: run;
  animation-duration: 12s;
}

@keyframes run {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
