@font-face {
  font-family: "Gilroy_Regular";
  src: local("Gilroy_Regular"),
    url(/fonts/Gilroy-Regular.ttf) format("woff");
}

@font-face {
  font-family: "Gilroy_Bold";
  src: local("Gilroy_Bold"), url(/fonts/Gilroy-Bold.ttf) format("woff");
}

@font-face {
  font-family: "Gilroy_Medium";
  src: local("Gilroy_Medium"),
    url(/fonts/Gilroy-Medium.ttf) format("woff");
}

@font-face {
  font-family: "Gilroy_Light";
  src: local("Gilroy_Light"), url(/fonts/Gilroy-Light.ttf) format("woff");
}

@font-face {
  font-family: "Gilroy_Heavy";
  src: local("Gilroy_Heavy"), url(/fonts/Gilroy-Heavy.ttf) format("woff");
}

.font_regular {
  font-family: Gilroy_Regular;
}

.font_bold {
  font-family: Gilroy_Bold;
}

.font_medium {
  font-family: Gilroy_Medium;
}

.font_light {
  font-family: Gilroy_Light;
}
.font_heavy {
  font-family: Gilroy_Heavy;
}
